<h1>TEST</h1>
<fieldset>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Dataset name</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
      </tr>
    </thead>
    <tbody>
      <!-- TODO: You might need to redefine the matrix returned so that it returns dataset as a class -->
      <% Dataset.cas.each do |dataset| %>
        <%= form.fields_for :project_datasets, @project.project_datasets.build do |pd| %>
          <%= pd.hidden_field :dataset_id, value: dataset.id %>
          <tr>
            <td><%= dataset.name %></td>
            <% [1,2,3].each do |level| %>
              <%= pd.fields_for :project_dataset_levels, pd.object.project_dataset_levels.build do |pdl| %>
                <td><%= pdl.check_box :level, {}, level %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</fieldset>
