<h1>TEST</h1>
<fieldset>
  <table class="table table-hover">
    <tbody>
      <thead>
        <tr>
          <th>Dataset name</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
        </tr>
      </thead>
      <% Dataset.cas_extras.each do |dataset| %>
        <%= form.fields_for :project_datasets, ProjectDataset.new do |pd| %>
          <%= pd.hidden_field :dataset_id, value: dataset.id %>
          <tr>
            <td><%= dataset.name %></td>
            <!-- TODO Convert the lookup.value to 1,2,3 and add description column - change lines 36 -->
            <% Lookups::AccessLevel.all.each do |level| %>
              <%= pd.fields_for :project_dataset_levels, ProjectDatasetLevel.new do |pdl| %>
                <% if dataset.levels.include? level.id %>
                  <td><%= pdl.check_box :access_level_id, {}, level.id %></td>
                  <td><%= pdl.datepicker_field :expiry_date %></td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</fieldset>
