<h1>TEST</h1>
<fieldset>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Dataset name</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
      </tr>
    </thead>
    <tbody>
      <!-- TODO: You might need to redefine the matrix returned so that it returns dataset as a class -->
      <% Dataset.cas.each do |dataset| %>
        <%= form.fields_for :project_datasets, @project.project_datasets.build do |pd| %>
          <tr>
          <%= pd.hidden_field :dataset_id, value: dataset.id %>
          <td><%= dataset.name %></td>
          <%= pd.collection_check_boxes(:access_level_ids, Lookups::AccessLevel.all, :id, :value) do |b| %>
          <td>
            <div class="checkbox">
              <%= b.label { b.check_box } %>
            </div>
          </td>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</fieldset>
